<div class = "tudo">

<div>
<h1>STUPID COACHING</h1>
</div>



<div class = "resposta">
<h3>Your coach says:</h3>

<h2><%= @answer %></h2>
</div>

<div class = "another">
<%= link_to 'Ask another Question', ask_path %>
</div>

</div>



